#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



input {
    padding: 1%;
    width: 200px;
    height: 20px;
    border-radius: 10px;
    font-size: medium;
    background: whitesmoke;
    box-shadow: 0.2px 2px 0px rgba(0, 0, 0, 0.2);
}
